<ion-header>
  <ion-navbar>
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  CoffeeTEK - Menu
  <div (click)="openCart()">
	<img src="/assets/images/shopping-cart.png" style="float:right; width : 25px ; height : 25px" click="openCart()" >
  </div>
  
  <ion-list style="margin-top: 36px;">     
      <button menuClose ion-item *ngFor="let p of products" (click)="openProduct(p)">
        <img [src]=p.image/>
        {{p.title}}
      </button>      	  
  </ion-list>
  
</ion-content>
