label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.red:before {
    color: red;
	height:30px;
    }

    .green:before {
    color: green;
	height:30px;
    }

    .flex_row {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row; 
		flex-direction: row;
		float:right;
		margin-right:50px
    }