<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="orderSubmit(this)">
	  <ion-item style="background-image: url(/assets/images/app-splash.png); background-size: 100%; width: 100%; height: 120px; ">
		<img style="position:absolute;display:block;margin-left:-40px;left:50%;top:4px;width:80px;height:80px" [src]=image/>								
	  </ion-item>
      <ion-item>
        <ion-label>{{title}}<br />{{cupsize}}</ion-label>		
	  </ion-item>
	  <ion-item>
	  <label>Tamanho:</label>
	  &nbsp;
	  <label>	  	  
	  <input type="radio" name="size" value="0" [checked]="size==0" (click)="ChangeSize(0)"/>
	  <img src="/assets/images/cup.png" style="width:20px;height:20px">
	  &nbsp;&nbsp;&nbsp;
	  </label>
	  <label>
	  <input type="radio" name="size" value="1" [checked]="size==1" (click)="ChangeSize(1)"/>
	  <img src="/assets/images/cup.png" style="width:30px;height:30px">
	  &nbsp;&nbsp;&nbsp;
	  </label>
	  <label>
	  <input type="radio" name="size" value="2" [checked]="size==2" (click)="ChangeSize(2)"/>
	  <img src="/assets/images/cup.png" style="width:40px;height:40px">
	  </label>
	  </ion-item>
	  <ion-item>
	  <label>Açucar:</label>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <label>
	  <input type="radio" name="sugar" value="0" [checked]="sugar==0"/>
	  <img src="/assets/images/no-sugar.png" style="width:20px;height:20px" title="0" />
	  &nbsp;&nbsp;&nbsp;
	  </label>
	  <label>
	  <input type="radio" name="sugar" value="1" [checked]="sugar==1"/>
	  <img src="/assets/images/sugar1.png" style="width:20px;height:20px" title="1"/>
	  &nbsp;&nbsp;&nbsp;
	  </label>
	  <label>
	  <input type="radio" name="sugar" value="2" [checked]="sugar==2"/>
	  <img src="/assets/images/sugar2.png" style="width:25px;height:25px" title="2"/>
	  &nbsp;&nbsp;&nbsp;
	  </label>
	  <label>
	  <input type="radio" name="sugar" value="3" [checked]="sugar==3"/>
	  <img src="/assets/images/sugar3.png" style="width:30px;height:30px" title="3"/>
	  </label>
	  </ion-item>
	  <div *ngIf="additional && additional.length > 0">
	  <ion-item>	  
	  <label>Adicionais:</label>	  
	  <label additItem *ngFor="let a of additional">
	  <input type="checkbox" name="adds" value="{{a}}" (click)="SelectAdditional(a)"/>
	  <img src="/assets/images/{{a}}.png" style="width:30px;height:30px"/>
	  &nbsp;&nbsp;&nbsp;	  
	  </label>
	  </ion-item>
	  </div>
	  <ion-item>
	  <label>Quantidade:</label>	 
		<div class="flex_row">
		  <span (click)="Decrement()">
		  <img src="/assets/images/less.png" title="Less"/>
		  </span>
		  &nbsp;&nbsp;&nbsp;
		  <h1>{{quant}}</h1>
		  &nbsp;&nbsp;&nbsp;
		  <span (click)="Increment()">
		  <img src="/assets/images/plus.png" title="Plus"/>
		  </span>
		</div>
	  <br /><br />
	  </ion-item>
	<button ion-button type="submit" block>Colocar no Carrinho</button>
  </form>
  
</ion-content>
