<ion-header>
  <ion-navbar>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div (click)="returnHome()" style="float:right;width:90px;">
	<img src="/assets/images/Espresso.png" style="float:right; width : 25px ; height : 25px" >
	Produtos
  </div>
  <br /><br />
  <ion-item>
  <ion-list>
    <button ion-item *ngFor="let item of cartItens">
      Produto: {{item.title}} {{desafioMobilityService.getCupSize(item.size)}}
	  <br />
	  Quantidade: {{item.quant}} 
	  <br />
	  Adicionais: {{item.adds}} 
    </button>
	<ion-item *ngIf="!cartItens || cartItens.length < 1">
      Você não possui nenhum produto<br />dentro do seu carrinho.
	</ion-item>	
  </ion-list>  
  </ion-item>
  <div *ngIf="cartItens && cartItens.length > 0" (click)="clearCart()" style="float:right;width:160px;">
	<ion-item>  
	Esvaziar Carrinho
	</ion-item>  
  </div>
  
</ion-content>
